{% extends 'templates/master.html' %}
{% load static %}



	<title>{% block title %}Create Reference{% endblock %}</title>

	{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1>Create Reference </h1>
			<p>You can create reference files of start scripts creating one at the end. Use placeholder if you want to provide other than file names.</p>
			<div class="row">
				<div class="col-md-12">
					{% include "templates/_create_reference_modal.html" %}

				</div>
			</div>

		</div>
		<div class="col-md-12 text-center">
			{% if 'success' in message%}
				<div class="text-success">
						{{message}}
				</div>
			{% else %}
				<div class="text-warning">
						{{message}}
				</div>
			{% endif %}
		</div>

	</div>



	<table class="table table-responsive table-bordered table-striped text-center" align='center' style="margin: 0 auto !important;width: 100% !important; ">
		<thead>
			<tr>
		    {% for field in reference_fields %}
				<th style="font-size:.8em" class='m-0 p-1'>
					{{field }}
				</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for reference in references %}
			<tr>
				{% for key,value in reference.items %}
					<td style="font-size:.8em" class='m-0 p-1'>
						{{value}}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>



	{% endblock %}


	{% block afterbody %}


	{% endblock %}
