{% extends 'templates/master.html' %}
{% load static %}



	<title>{% block title %}Create Major Data Category{% endblock %}</title>

	{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1>Create Major Data Category</h1>
			<p>You can add major data categories to make data exploration more intuitive. Just think about intermediatery data points that might benefit from a branching what-if analysis.</p>

			<div class="row">
				<div class="col-md-12">
					{% include "templates/_create_process_modal.html" %}

				</div>


			</div>

		</div>
		<div class="col-md-12 text-center">
			{% if 'success' in message%}
				<div class="text-success">
						{{message}}
				</div>
			{% else %}
				<div class="text-warning">
						{{message}}
				</div>
			{% endif %}
		</div>

	</div>




	<div class="row">
    {% for field in step_fields %}
		<div class="col-md-2">
			<label><b>{{field|title }}</b></label>
		</div>
		{% endfor %}

	</div>

	{% for step in steps %}
	<div class="row">
			{% for key,value in step.items %}
				<div class="col-md-2">
					{{value}}
				</div>
				{% endfor %}

	</div>
	{% endfor %}










	{% endblock %}




	{% block afterbody %}


	{% endblock %}
