{% extends 'templates/master.html' %}
{% load static %}



	<title>{% block title %}Create Major Data Category{% endblock %}</title>

	{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1>Create Analysis Step</h1>
			<p>You can add major data categories to make data exploration more intuitive. Just think about intermediatery data points that might benefit from a branching what-if analysis.</p>

			<div class="row">
				<div class="col-md-12">
					{% include "templates/_create_step_modal.html" %}

				</div>


			</div>

		</div>
		<div class="col-md-12 text-center">
			{% if 'success' in message%}
				<div class="text-success">
						{{message}}
				</div>
			{% else %}
				<div class="text-warning">
						{{message}}
				</div>
			{% endif %}
		</div>

	</div>



	<table class="table table-responsive table-bordered table-striped text-center" align='center' style="margin: 0 auto !important;width: 100% !important; ">
		<thead>
			<tr>
		    {% for field in step_fields %}
				<th style="font-size:.8em" class='m-0 p-1'>
					{{field }}
				</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for step in steps %}
			<tr>
				{% for key,value in step.items %}
					<td style="font-size:.8em" class='m-0 p-1'>
						{{value}}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>











	{% endblock %}




	{% block afterbody %}


	{% endblock %}
