{% extends 'templates/master.html' %}
{% load static %}



	<title>{% block title %}Explore Data to Gain Insight{% endblock %}</title>

	{% block body %}
  <div class="row">



		{% if intro_message|length < 1 %}
			{% if username == admin%}
				<a href="/config/main" role="button" class="btn btn-lg btn-danger btn-block">Start Configuration<br><small>Better sooner than later</a>
			{% else %}
				<h3>System not configured yet. Please keep putting pressure on admin.</h3>
			{% endif %}
		{% else %}
			{% if user.username == "admin" %}
					<a href="/add/user" role="button" class="btn btn-lg btn-warning btn-block">Add Users</a>
					<h5>{{user_count_message}}</h5>
					<div>sudo groupadd django_users</div>
					<div>sudo adduser django_admin
						<div class="">
								<small>This user can create basic system users</small>
						</div>
						<div class="">
								<small>django_admin ALL = NOPASSWD:adduser</small>
						</div>

					</div>
					<p>add users through tool interface</p>
			{% else %}
				{% if data_points|length < 3 %}
					<button type="button" class="btn btn-lg btn-color-dark btn-block" data-toggle="modal" data-target="#fileUploadModal">Upload Data First</button>
				{%endif%}
				<div id="data_point_svg">

				</div>
				



				<div class="modal" id="selectStepFromDataPointModal" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Select Analysis Step</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <div>
				          <input class="form-control" type="text" id="select_step_input_dp" value="" onkeyup="filterStepSelectDP()">
				          <select class="form-control" id="select_step_select_dp" onchange="showStepDescriptionDP()">
				          </select>
				          <div id='step_description_dp'>
				          </div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" onclick="stepSelectedDP()">Select</button>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>


			{%endif%}
		{%endif%}


	<hr>
	{% include "templates/_task_list.html" %}
	{% include "templates/_data_points.html" %}




	{% endblock %}




	{% block afterbody %}
	<script type="text/javascript">
			var data_points = {{data_points | safe}}

			function filterStepSelectDP() {
				var selected_node = right_click_data_point
				last_output_category = data_points.filter(x=>x.pk==selected_node)[0].fields.major_types

		    var filteredSteps = steps.filter(x=>x.fields.input_major_data_category==last_output_category)
		    var typed = document.getElementById('select_step_input_dp').value.trim()
		    if (typed.length > 0) {
		      filteredSteps = filteredSteps.filter(x=>x.fields.short_name.includes(typed) | x.fields.description.includes(typed))
		    }

		    d3.select('#select_step_select_dp').selectAll('option').remove()
		    d3.select('#select_step_select_dp').selectAll('option').data(filteredSteps).enter()
		      .append('option').text(function(d,i){return d.fields.short_name}).attr('value', function(d){return d.pk})
		    showStepDescriptionDP()
		  }


			function showStepDescriptionDP() {
				d3.select('#step_description_dp').select('div').remove()
				var select = document.getElementById('select_step_select_dp')
				var curr_step = steps.filter(x=>x.pk==select.options[select.selectedIndex].value)[0].fields
				var div = d3.select('#step_description_dp').append('div').attr('class', 'row')
				div.append('div').attr('class', 'col-md-2').html('<b>Accepts</b><br>' + curr_step.input_major_data_category)
				div.append('div').attr('class', 'col-md-8').html(curr_step.description)
				div.append('div').attr('class', 'col-md-2').html('<b>Outputs</b><br>' + curr_step.output_major_data_category)
			}


			function stepSelectedDP() {
				var select = document.getElementById('select_step_select_dp')
				$('#selectStepFromDataPointModal').modal('hide')
				var selectedStep = select.options[select.selectedIndex].value
				submitAnalysisRequest(selectedStep)
			}


			function submitAnalysisRequest(step_id) {
			  var formData = new FormData();

				formData.append('step_id', step_id)
				formData.append('reference_data_points', right_click_data_point)

			  var xhr = new XMLHttpRequest()
			  xhr.open('POST', '/new/step/', true);


			  xhr.onload = function () {
			    if (xhr.status === 200) {
			      alert('New step created')
						reDrawTreeWithNewDataPoints()
			    } else {
			      alert('Sorry, there is something wrong. Maybe the server is down, or you lost connection.');
			    }
			  };

				xhr.send(formData);

			}


			function reDrawTreeWithNewDataPoints() {
				d3.json('/get/data_points/').on('load', function(data) {
					data_points = JSON.parse(data)
					createTree(data_points)

			}).mimeType("text/csv")
    		.get()


			}


			function createTree(data_points){
				var simplified = data_points.map(function (x){
					var anc=x.fields.ancestry.split(',')
					console.log(x.fields.status)

					return {'id':String(x.pk), 'parent':anc[anc.length-1], 'ancestry':anc, 'category':x.major_types, 'status':x.fields.status, 'category':x.major_types}
				}).sort(compareLevels)

				var roots = list_to_tree(simplified)
				d3.select('#data_point_svg').selectAll('svg').remove()
				for (var index in roots) {
						main('svg_'+index, roots[index])
				}

			}


			function list_to_tree(list) {
			    var map = {}, node, roots = [], i;
			    for (i = 0; i < list.length; i += 1) {
			        map[list[i].id] = i; // initialize the map
			        list[i].children = []; // initialize the children
			    }
			    for (i = 0; i < list.length; i += 1) {
			        node = list[i];
			        if (node.parent.length !== 0) {
			            // if you have dangling branches check that map[node.parentId] exists
			            list[map[node.parent]].children.push(node);
			        } else {
			            roots.push(node);
			        }
			    }
			    return roots;
			}


			function compareLevels(a, b) {
			  return a.ancestry.length - b.ancestry.legend;
			}





	</script>
	<style>

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.waiting circle {
	  stroke: green;
		stroke-width: 2px;
	  stroke-dasharray:.15em;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}

</style>
<body>
<script type="text/javascript">
	var right_click_data_point = ''

	function main(svg_id, treeData) {

		// Set the dimensions and margins of the diagram
		var margin = {top: 20, right: 90, bottom: 30, left: 90},
		    width = 800 - margin.left - margin.right,
		    height = 300 - margin.top - margin.bottom;

		// append the svg object to the body of the page
		// appends a 'group' element to 'svg'
		// moves the 'group' element to the top left margin
		var svg = d3.select('#data_point_svg').append('svg').attr('id', svg_id)
		    .attr("width", width + margin.right + margin.left)
		    .attr("height", height + margin.top + margin.bottom)
		  .append("g")
		    .attr("transform", "translate("
		          + margin.left + "," + margin.top + ")");

		var i = 0,
		    duration = 750,
		    root;

		// declares a tree layout and assigns the size
		var treemap = d3.tree().size([height, width]);

		// Assigns parent, children, height, depth
		root = d3.hierarchy(treeData, function(d) { return d.children; });
		root.x0 = height / 2;
		root.y0 = 0;

		// Collapse after the second level
		//root.children.forEach(collapse);

		update(root);

		// Collapse the node and all it's children
		function collapse(d) {
		  if(d.children) {
		    d._children = d.children
		    d._children.forEach(collapse)
		    d.children = null
		  }
		}

		function update(source) {

		  // Assigns the x and y position for the nodes
		  var treeData = treemap(root);

		  // Compute the new tree layout.
		  var nodes = treeData.descendants(),
		      links = treeData.descendants().slice(1);

		  // Normalize for fixed-depth.
		  //nodes.forEach(function(d){ d.y = d.depth * 180});

		  // ****************** Nodes section ***************************

		  // Update the nodes...
		  var node = svg.selectAll('g.node')
		      .data(nodes, function(d) {return d.id || (d.id = ++i); });

		  // Enter any new modes at the parent's previous position.
		  var nodeEnter = node.enter().append('g')
		      .attr('class', function(d,i){return d.data.status + ' node'})
		      .attr("transform", function(d) {
		        return "translate(" + source.y0 + "," + source.x0 + ")";
		    })
		    .on('click', click).on('contextmenu', function(){
							right_click_data_point = this.getElementsByTagName('hidden')[0].getAttribute('value')
							d3.event.preventDefault();
							menu(d3.mouse(this)[0], d3.mouse(this)[1]) })

		  // Add Circle for the nodes
		  nodeEnter.append('circle')
		      .attr('class', function(d,i){return d.data.status + ' node'})
		      .attr('r', 1e-6)
		      .style("fill", function(d) {
		          return d._children ? "lightsteelblue" : "#fff";
		      });

		  // Add labels for the nodes
		  nodeEnter.append('text')
		      .attr("dy", ".35em")
		      .attr("x", function(d) {
		          return d.children
		      })
		      .attr("text-anchor", 'middle')
		      .text(function(d) { return d.data.id; });

			nodeEnter.append('hidden')
					.attr('value', function(d) { return d.data.id })

		  // UPDATE
		  var nodeUpdate = nodeEnter.merge(node);

		  // Transition to the proper position for the node
		  nodeUpdate.transition()
		    .duration(duration)
		    .attr("transform", function(d) {
		        return "translate(" + d.y + "," + d.x + ")";
		     });

		  // Update the node attributes and style
		  nodeUpdate.select('circle.node')
		    .attr('r', 16)
		    .style("fill", function(d) {
		        return d._children ? "lightsteelblue" : "#fff";
		    })
		    .attr('cursor', 'pointer');


		  // Remove any exiting nodes
		  var nodeExit = node.exit().transition()
		      .duration(duration)
		      .attr("transform", function(d) {
		          return "translate(" + source.y + "," + source.x + ")";
		      })
		      .remove();

		  // On exit reduce the node circles size to 0
		  nodeExit.select('circle')
		    .attr('r', 1e-6);

		  // On exit reduce the opacity of text labels
		  nodeExit.select('text')
		    .style('fill-opacity', 1e-6);

		  // ****************** links section ***************************

		  // Update the links...
		  var link = svg.selectAll('path.link')
		      .data(links, function(d) { return d.id; });

		  // Enter any new links at the parent's previous position.
		  var linkEnter = link.enter().insert('path', "g")
		      .attr("class", "link")
		      .attr('d', function(d){
		        var o = {x: source.x0, y: source.y0}
		        return diagonal(o, o)
		      });

		  // UPDATE
		  var linkUpdate = linkEnter.merge(link);

		  // Transition back to the parent element position
		  linkUpdate.transition()
		      .duration(duration)
		      .attr('d', function(d){ return diagonal(d, d.parent) });

		  // Remove any exiting links
		  var linkExit = link.exit().transition()
		      .duration(duration)
		      .attr('d', function(d) {
		        var o = {x: source.x, y: source.y}
		        return diagonal(o, o)
		      })
		      .remove();

		  // Store the old positions for transition.
		  nodes.forEach(function(d){
		    d.x0 = d.x;
		    d.y0 = d.y;
		  });

		  // Creates a curved (diagonal) path from parent to the child nodes
		  function diagonal(s, d) {

		    path = `M ${s.y} ${s.x}
		            C ${(s.y + d.y) / 2} ${s.x},
		              ${(s.y + d.y) / 2} ${d.x},
		              ${d.y} ${d.x}`

		    return path
		  }

		  // Toggle children on click.
		  function click(d) {
		    if (d.children) {
		        d._children = d.children;
		        d.children = null;
		      } else {
		        d.children = d._children;
		        d._children = null;
		      }
		    update(d);
		  }
		}



	//////////////////
	////CONTEXT MENU


		function contextMenu() {
			var height,
					width,
					margin = 0.1, // fraction of width
					items = [],
					rescale = false,
					style = {
							'rect': {
									'mouseout': {
											'fill': 'rgb(244,244,244)',
											'stroke': 'white',
											'stroke-width': '1px'
									},
									'mouseover': {
											'fill': 'rgb(200,200,200)'
									}
							},
							'text': {
									'fill': 'steelblue',
									'font-size': '18'
							}
					};

			function menu(x, y) {
					d3.select('.context-menu').remove();
					scaleItems();
					// Draw the menu
						svg.append('g').attr('class', 'context-menu')
							.selectAll('tmp')
							.data(items).enter()
							.append('g').attr('class', 'menu-entry')

							.on('mouseover', function(){
									d3.select(this).select('rect').style('fill', 'rgb(200,200,200)') })
							.on('mouseout', function(){
									d3.select(this).select('rect').style('fill', 'rgb(244,244,244)') })
							.on('click', function(){
									var selected = this.getElementsByTagName('text')[0].innerHTML
									if (selected == 'Add analysis step') {
										addAnalysisStepRequest()
									}
								 })
							.style({'cursor': 'pointer'})

					d3.selectAll('.menu-entry')
							.append('rect')
							.attr('x', x)
							.attr('y', function(d, i){ return y + (i * height); })
							.attr('width', width)
							.attr('height', height)
							.style('fill', 'rgb(244,244,244)');

					d3.selectAll('.menu-entry')
							.append('text')
							.text(function(d){ return d; })
							.attr('x', x)
							.attr('y', function(d, i){ return y + (i * height); })
							.attr('dy', height - margin / 2)
							.attr('dx', margin)
							.style('fill', 'steelblue',);

					// Other interactions
					d3.select('body')
							.on('click', function() {
									d3.select('.context-menu').remove();
							});

			}

			menu.items = function(e) {
					if (!arguments.length) return items;
					for (i in arguments) items.push(arguments[i]);
					rescale = true;
					return menu;
			}

			// Automatically set width, height, and margin;
			function scaleItems() {
					if (rescale) {
							svg.selectAll('tmp')
									.data(items).enter()
									.append('text')
									.attr('class', 'tmp')
									.text(function(d){ return d; })
									.attr('x', -1000)
									.attr('y', -1000)
									.style(style.text)

							var z_pre = d3.selectAll('.tmp').filter(function(d, i) { return i == 0  })
							z = z_pre._groups[0].map(function(x){ return x.getBBox(); });
							width = d3.max(z.map(function(x){ return x.width; }));
							margin = margin * width;
							width =  width + 2 * margin;
							height = d3.max(z.map(function(x){ return x.height + margin / 2; }));

							// cleanup
							d3.selectAll('.tmp').remove();
							rescale = false;
					}
			}

			return menu;
		}

		var menu = contextMenu().items('Add analysis step', 'Edit info', 'Download');




		//drawTree(data)

	}


	createTree(data_points)


	function addAnalysisStepRequest() {
		//console.log(right_click_data_point);
		$('#selectStepFromDataPointModal').modal('show')
		filterStepSelectDP()
	}


</script>



	{% endblock %}
