{% load static %}

<!-- <div class="modal fade" id="createProcessModal" tabindex="-1" role="dialog" aria-labelledby="createProcessModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Process</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 smaller-font">
          <div class="h4">
            Mark-up rules:
          </div>
          <span class="btn-primary">Accepted inputs in blue</span>, <span class="btn-color-green-light">accepted outputs in green</span>, <span class="btn-danger">forbidden commands in red</span>, <i>types in italic</i>, and <b>names in bold</b>.
        </div>
        <hr>

-->
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="bash_script" class="input-group-text">Bash script:</span>
          </div>
          <div class="text-left form-control" name="analysisStepScript" id="analysisStepScript" onkeyup="checkScript('analysisStepScript')">
            <span class="edit" style="outline:0 !important;" contenteditable>
                &nbsp;
            </span>
          </div>
        </div>


        <div class="row">
          <div class="col-12 smaller-font">
            <div class="h4 mt-4">
              Interpreted script:
            </div>
          </div>
          <div class="col-12 mt-1">
            <div class="border" id="checkedCommand">
                Start writing bash script above.
            </div>
          </div>
          <div class="col-12 mt-2">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Process id:</span>
              </div>
              <input type="text" placeholder="Short id (<20 characters) without any space, unique" class="form-control cp-user-input" name="bashProcessID" id="bashProcessID" aria-describedby="bashProcessID" onkeyup="checkAllInputs('cp-user-input')">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Short process name:</span>
              </div>
              <input type="text" placeholder="Like a process title" class="form-control cp-user-input" name="bashProcessName" id="processName" aria-describedby="bashProcessName" onkeyup="checkAllInputs('cp-user-input')">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Description:</span>
              </div>
              <input type="text" placeholder="Long process desription" class="form-control cp-user-input" id="bashProcessDescription" aria-describedby="bashProcessDescription" name="bashProcessDescription" onkeyup="checkAllInputs('cp-user-input')">
            </div>
          </div>
          <div class="col-md-12" id="cp-message">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button disabled type="button" class="btn btn-primary" id="createBashProcess" onclick="createBashProcess()">Create Bash Process</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="addPlaceholder" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add placeholder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <select id="io_options" onchange="updateInputType('io_options')">
          </select>
        </div>
        <div style="display:none" id="io_input_type" class='inputs'>
          <select>
          </select>
        </div>
        <div style="display:none" id="io_selectfield" class='inputs'>
          <select id="io_inputfieldselect">
          </select>
        </div>
        <div style="display:none" id="io_selectfield2" class='inputs'>
          <select id="io_inputfieldselect2">
          </select>
        </div>
        <div style="display:none" id="io_inputfield" class='inputs'>
          <input id="io_inputfieldinput" type="text" class="form-control cp-user-input">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveAddInCmd('analysisStepScript')">Convert to add-in command</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">

  //i:input, s:select
  var step_dict = {
      'major':['fastq.gz', 'fastq', 'fa', 'sam', 'csv'],
      'parameter':['cpu'],
      'type':['genomeRef', 'geneList'],
      'genomeRef':['ws250', 'ws262', 'latest'],
      'geneList':['csr', 'wago'],
    }

  //s for select, i for input
  var input_types = {
    'fs':'s_major_value',
    'fm':'s_major_value',
    's' :'s_parameter_value',
    'is':'i_value',
    'ip':'i_name',
    'ds':'s_type_value',
    'dp':'s_type_name',
  }

  var input_descriptions = {
    'fs':'One single file at a time for one or more selected files',
    'fm':'All selected files at the same time',
    's' :'System parameter like available CPU, etc.',
    'is':'Hardcoded text input',
    'ip':'Text input that will be entered just before submitting a task',
    'ds':'Reference file to be selected right now',
    'dp':'Reference file to be selected just before submitting a task',
  }

  function updateSelect2() {
    var select = document.getElementById('io_options')
    console.log(select);
    var selected_value = select.options[select.selectedIndex].value;
    var cmd_fields = input_types[selected_value].split('_')
    console.log(cmd_fields);
    if (cmd_fields.slice(-1)=='value') {
      var select = document.getElementById('io_inputfieldselect')
      var selected_value = select.options[select.selectedIndex].value;
      var options = step_dict[selected_value]
      if (options) {
        d3.select('#io_selectfield2').style('display', 'block')
        d3.select('#io_selectfield2').select('select').selectAll('option').remove()
        d3.select('#io_selectfield2').select('select').selectAll('option').data(options).enter()
            .append('option').text(function(d){return d})
      }
    }


  }

  function createSelectFieldForInputType(fields) {
    var type = fields[0]
    var action = fields[1]
    var options = step_dict[type]
    d3.select('#io_inputfield').style('display', 'none')
    d3.select('#io_selectfield').style('display', 'none').select('select').selectAll('option').remove()
    d3.select('#io_selectfield2').style('display', 'none').select('select').selectAll('option').remove()
    if (action == 'value') {
      d3.select('#io_selectfield').style('display', 'block')
      d3.select('#io_selectfield').select('select').on('change', updateSelect2).selectAll('option').data(options).enter()
          .append('option').text(function(d){return d})
      updateSelect2()
    }else if (action == 'name') {
      d3.select('#io_selectfield').style('display', 'block')
      d3.select('#io_selectfield').select('select').selectAll('option').data(options).enter()
          .append('option').text(function(d){return d})
      d3.select('#io_inputfield').style('display', 'block')
      d3.select('#io_inputfieldinput').attr('placeholder', 'Provide a user dialogue value')
    }else {
      console.log(('wrong config'));
    }
  }

  function createInputFieldForInputType(action) {
    d3.selectAll('.inputs').style('display', 'none')
    select_field = 'io_inputfield'
    d3.select('#io_inputfield').style('display', 'block')
  }

  function saveAddInCmd(script_id) {
    var cmd = ''
    var select = document.getElementById('io_options')
    var selected_value = select.options[select.selectedIndex].value;
    cmd += selected_value
    //console.log(selected_value);
    cmd_fields = input_types[selected_value].split('_')
    if (cmd_fields[0]=='s') {
      var select = document.getElementById('io_inputfieldselect')
      var selected_value = select.options[select.selectedIndex].value;
      cmd += '_' + selected_value
      if (cmd_fields[2]=='value') {
        if (d3.select('#io_selectfield2').style('display') != 'none') {
          var select = document.getElementById('io_inputfieldselect2')
          var selected_value = select.options[select.selectedIndex].value;
          cmd += '_' + selected_value
        }
        console.log(cmd);
      }else if (cmd_fields[2]=='name') {
        var input_value = document.getElementById('io_inputfieldinput').value.trim().replace(/\W+/g, '-')
        cmd += '_' + input_value
        console.log(cmd);
      }else {
        console.log('something is wrong');
      }

    }else if (cmd_fields[0]=='i') {
      var input_value = document.getElementById('io_inputfieldinput').value.trim().replace(/\W+/g, '-')
      cmd += '_' + input_value
      console.log(cmd);
    }else {
      console.log('something wrong');
    }

    latest_script = $('#'+script_id+' .edit:last')[0].innerHTML
  }


  function checkScript(script_id) {
    console.log(script_id);
    latest_script = $('#'+script_id+' .edit:last')[0].innerHTML
    //script = $('#analysisStepScript .edit:last')
    if (latest_script.match('@&[gl]t;')) {
      humanize()
    }

  }

  function humanize(){
    options = d3.select('#io_options').selectAll('option')
    options.remove()
    new_options = options.data(Object.keys(input_descriptions)).enter()
      .append('option')
    new_options.text(function(d){return input_descriptions[d]})
    new_options.attr('value', function(d){return d})
    updateInputType()
    $('#addPlaceholder').modal('show')
  }

  function updateInputType() {
    var func_dict = {'s':createSelectFieldForInputType, 'i':createInputFieldForInputType}
    select = document.getElementById('io_options')
    selected_value = select.options[select.selectedIndex].value;
    cmd_fields = input_types[selected_value].split('_')
    func_dict[cmd_fields[0]](cmd_fields.slice(1))
  }






  function validateScript(script_id){

  }

  function checkAllInputs(classname) {
    var haveInput = true
    var user_inputs = document.getElementsByClassName(classname);
    for(var i = 0; i < user_inputs.length; i++)
    {
      if (user_inputs[i].value.replace(/^\s+|\s+$/g, '').length > 0) {
        //
      }else {
        haveInput = false
      }
    }
    [atLeastOneIO, danger, checkedScript] = validateScript('rawProcessCommand')
    if (haveInput & atLeastOneIO & !danger) {
      $('#createBashProcess').prop('disabled', false)
    }else {
      $('#createBashProcess').prop('disabled', true)
    }
  }

  function htmlDecode(input){
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes[0].nodeValue;
  }

  //checkCommand()
</script>
<script src="{% static 'js/build.js' %}"></script>
